# === Data / Utils ===
pandas
requests
google-genai
# === Maps & Geo ===
folium
airportsdata

# === Scheduling ===
APScheduler

# === FastAPI & Web ===
fastapi[all]
uvicorn[standard]
jinja2
sse-starlette
starlette
beautifulsoup4
# === Optional (לוגים צבעוניים) ===
colorlog
asyncio
aiohttp
pycountry
geopy
json-repair
aiosqlite